.header {
    display: inline-block;
    width: 100%;
  }
  .header_nav li {
    float: right;
    display: block;
    text-decoration: none;
    padding: 10px 20px;
    font-size : 13px;
    color : gray;
  }
  .nav_master > Button{
    display:none;
  }
  .logo {
    float: left;
    margin: 0;
    padding: 10px 0px 0px 20px;
  }
  

  
  .background_image{
    width: 100%;
    background-color:rgb(0, 189, 189);
    background-repeat: no-repeat;
    background-size: cover;
    height: auto;
  
  }
  .background_text{ 
    color:white;
    font-size: 4vh;
    margin-left: 10%;
    margin-right: 10%;
    height: 415px;
    padding-top: 5%;
    font-weight: 700;
  }
  .background_li {
    list-style: none; 
    margin-left : 30%;
    color: rgb(228, 228, 228);
    font-weight: 700;
  }
  .background_li a {
    text-decoration: none; color: white;
  }
  .background Button { 
    font-size:15px;
  }
  .background_search{
    background-color: rgb(4, 5, 39);
    width: auto;
    height: 70px;
    display:block;
    margin: 0 20%;
  }
  .background_search input {
    font-size: 1.5rem;
    min-height: 45px;
    font-weight:400;
    display:inline-block;
    margin-left: 2%;
    margin-top: 1%;
    
    width:30%;
    height:40px;
  }
  .background_search_text {
    
    height : 100%;
    width: auto;
  }
  .background_search_text span {
    position: relative;
    right: 38px;
    font-size: 20px;
    display:inline-block;
    top:5px;
    
  }
  ._container{
    height: auto;
    display : block;
    margin-left:0px;
    margin-right: 0px;
    width:100%;
  }
  .background_search_text_middle{
    position:relative;
    display:inline-block;
    color: white;
    font-weight: 400;
    margin-top : 25px;
  }
  .background_search_right{
    float:right;
    
  }

  .container:after {
    content: '';
    display:block;
    clear:both;
    height:0;
    visibility: hidden;
  }


  .info{
    margin : 2% 20% 0% 20%;
    max-width: 100%;
    text-align: center;
  }
  .info_search{
    height:auto;
    width:100%;
    text-align: right;
  }
  
  
  .info_photo{
    max-width:100%;
    height:auto;
    list-style: none;
  }
 
  .footer{
    clear: both;
    width:100%;
    height:300px;
    background-color: rgb(4, 5, 39);
    bottom:0px;
  }
  footer{
    margin-left:470px;
    margin-right:470px;
    height:auto;
    width: auto;
    min-height:300px;
    max-width: 960px;
    padding: 30px 100px ;
  }
  .footer_introduce{
    color:white;
    padding-bottom:10px;
    border-bottom: 1px solid white;
  }
  
  @media screen and (min-width:320px) and (max-width:667px){
    .info_photo{
        width:100%;
    }
    
    .background_search_text input {
      width:80%;
      margin : 5% 0% 0% 10%;
    }
    .background_li {
      margin-left: 0%;
    }
    .nav_master > Button{
      display:inline;
    }
    .header_nav li {
      color : rgb(244, 245, 244);
      font-size:20px;
      font-weight:800;
    }
    .nav {
      
      display:none;
      position: absolute;
      top: 10%;
      left: 65%;
      background-color:rgb(130, 123, 226);
      
    }
    .nav_master:hover > ul {
      display:block; 
    }
    .background_li {
      padding-left: 0%;
      font-weight: 500;
    }
    .background_text {
      margin-left : 5%;
    }
  }

